@tailwind base;
@tailwind components;
@tailwind utilities;

.sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: "normal";
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: "normal";
}

.hero-contact {
	text-decoration: none;
	color: #32ACFF;
  font-size: 80%;
	font-weight: 500;
	letter-spacing: 3px;
	padding: 1rem 2rem;
	border: 1px solid #32ACFF;
	background-color: transparent;
	width: fit-content;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	transition: 0.4s transform ease-in-out;
	will-change: transform;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.hero-contact::after {
	background-color: #32ACFF;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-100%, 0);
	transform-origin: top right;
	transition: 0.8s transform ease-out;
	will-change: transform;
	z-index: -1;
}

.hero-contact:hover::after {
	transform: translate(0, 0);
}

.hero-contact:hover {
	color: #fff;
	will-change: transform;
}

.grill {
	background-image: radial-gradient(transparent, #fff 87%), linear-gradient(90deg, #cbd5e1 1px, transparent 1px), linear-gradient(0deg, #cbd5e1 1px, transparent 1px);
    background-repeat: repeat;
    background-size: cover, 48px 48px, 48px 48px;
    background-position: center, center 49px;
}

.own-font {
	font-weight: 300;
	font-size: 38px;
	font: 300 38px / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}
